@page "/"
@inject ListProjectSummariesOperation ListProjectSummariesOperation
@inject LoggingService LoggingService
@inject NavigationManager NavigationManager

<div
    class="@TW(Flex, FlexCol, ItemsCenter, JustifyCenter, MaxW("440px"), Gap(6), Text(Colors.Active.Text.Most))">

    <!-- Title -->
    <Title>[GRIDS]</Title>

    <!-- Search Bar -->
    <SearchBar OnSearchPromptChange="HandleSearchPromptChange">
        <Button OnClick="NavigateToCreateNewProject">
            New Project
        </Button>
    </SearchBar>

    <!-- Project Overview -->
    <div
        class="@TW(Grid, GridCols("30%,70%"), GapX(2), GapY(4), BreakWords, Text(Colors.Active.Text.Ordinary))">
        @foreach (var project in ProjectSummaries)
        {
            <!-- Row: Date -->
            <div class="@TW(FlexGrow, Flex, JustifyEnd)">
                <TimeAgo Then="@project.LastAccessed"/>
            </div>

            <!-- Row: Project -->
            <div
                class="@TW(TextLeft,
                           Hover(Underline),
                           CursorPointer)"
                @onclick="() => NavigateToProjectDashboard(project.ProjectId)">
                <span
                    class="@TW(Text(Colors.Active.Text.More),
                               FontSemibold)">@project.Name.Value</span>
                <br/>
                <span title="@project.Path.Value">@(new FileInfo(project.Path.Value).Name)</span>
            </div>
        }
    </div>

    <!-- Pagination -->
    @if (TotalPages > 1)
    {
        <div class="@TW(Flex, FlexGrow, ItemsCenter, JustifyCenter, Gap(2), Text(Colors.Active.Text.Ordinary))">
            @if (HasPreviousPage)
            {
                <Button OnClick="DecrementPage">
                    <Icon IconDescriptor="@IconDescriptor.ChevronLeft"/>
                </Button>
            }

            <span>@(Page + 1) / @(TotalPages)</span>

            @if (HasNextPage)
            {
                <Button OnClick="IncrementPage">
                    <Icon IconDescriptor="@IconDescriptor.ChevronRight"/>
                </Button>
            }
        </div>
    }
</div>

@code {
    private string SearchPrompt { get; set; } = string.Empty;

    private int Page { get; set; }
    private const int PageSize = 4;

    private Pagination Pagination => new(Page, PageSize);

    private ListProjectSummariesOperation.Response? Response { get; set; }
    private IEnumerable<ProjectSummary> ProjectSummaries => Response?.Projects ?? Enumerable.Empty<ProjectSummary>();

    protected override async Task OnInitializedAsync()
    {
        await LoadProjects();
    }

    private async Task LoadProjects()
    {
        var request = new ListProjectSummariesOperation.Request(SearchPrompt, Pagination);
        var result = await ListProjectSummariesOperation.ExecuteAsync(request);
        if (result.TryPickValue(out var response, out var problems))
        {
            Response = response;
        }
        else
        {
            foreach (var problem in problems)
            {
                LoggingService.Show(problem);
            }
        }

        StateHasChanged();
    }

    private bool HasPreviousPage => Page > 0;
    private bool HasNextPage => Response?.Projects.HasNextPage ?? false;
    private int TotalPages => Response?.Projects.TotalPages ?? 0;

    private async Task IncrementPage()
    {
        if (!HasNextPage) return;

        Page++;
        await LoadProjects();
    }

    private async Task DecrementPage()
    {
        if (!HasPreviousPage) return;

        Page--;
        await LoadProjects();
    }

    private void NavigateToCreateNewProject() => NavigationManager.NavigateTo("create-project");
    private void NavigateToProjectDashboard(Id<Project> projectId) => NavigationManager.NavigateTo($"project/{projectId}");

    private async Task HandleSearchPromptChange(string s)
    {
        SearchPrompt = s;
        Page = 0;
        await LoadProjects();
    }

}
