@using Olve.Grids.Grids
@using Olve.Grids.Primitives
@using UI.Core.Services.Brushes
@inject ListBrushesOperation ListBrushesOperation
@inject LoggingService LoggingService
@inject ModalService ModalService
@inject ContextMenuService ContextMenuService
@inject SetBrushForTileCornerOperation SetBrushForTileCornerOperation
@inject CreateNewBrushOperation CreateNewBrushOperation

@foreach (var brush in _brushes)
{
    <ContextMenuItem OnClick="@(() => HandleSelectBrush(brush.Id))">
        <div class="@TW(Flex, FlexRow, ItemsCenter, Gap(2))">
            <ColorDot Color="@brush.Color"/>

            <span class="@TW(FlexGrow)">
                        @brush.DisplayName
                    </span>

            <Icon IconDescriptor="IconDescriptor.Edit"
                  OnClick="@(e => HandleEditBrush(e, brush))"
                  StopPropagation="@true"/>
        </div>
    </ContextMenuItem>
}

<HorizontalDivider/>
<ContextMenuItem OnClick="HandleNewBrush">
    Add new brush
</ContextMenuItem>

@code {
    [Parameter] [EditorRequired] public TileIndex TileIndex { get; set; }
    [Parameter] [EditorRequired] public Corner Corner { get; set; }

    private IReadOnlyList<ProjectBrush> _brushes = [ ];

    protected override async Task OnParametersSetAsync()
    {
        var request = new ListBrushesOperation.Request();
        var listBrushesResult = await ListBrushesOperation.ExecuteAsync(request);
        if (listBrushesResult.TryPickProblems(out var problems, out var brushes))
        {
            LoggingService.Show(problems);
            return;
        }

        _brushes = brushes.Brushes.ToArray();
    }

    private async Task HandleEditBrush(MouseEventArgs mouseEventArgs, ProjectBrush brush)
    {
        await ContextMenuService.HideAsync();
        await ModalService.ShowAsync(
            @<EditBrush Brush="@brush"/>,
            "Edit Brush");
    }


    private async Task HandleSelectBrush(BrushId brushId)
    {
        SetBrushForTileCornerOperation.Request request = new(TileIndex, Corner, brushId);
        var result = await SetBrushForTileCornerOperation.ExecuteAsync(request);
        if (result.TryPickProblems(out var problems))
        {
            LoggingService.Show(problems);
        }
    }

    private async Task HandleNewBrush()
    {
        CreateNewBrushOperation.Request request = new();
        var result = await CreateNewBrushOperation.ExecuteAsync(request);
        if (result.TryPickProblems(out var problems))
        {
            LoggingService.Show(problems);
        }
    }

}